// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.stories {
  li {
    border-radius: 3px;
    box-sizing: border-box;
    border: #444 solid 1px;
  }
}